.gallery {
  max-width: 1200px;
  margin: 0 auto;

  .masonry {
    display: flex;
    margin-left: 0;
    width: auto;
    max-width: 1200px;

    .column {
      padding-left: 0px;
      background-clip: padding-box;
    }

    .item {
      margin-bottom: 20px;
    }

    @media (min-width: 426px) {
      display: flex;
      margin-left: -20px; /* gutter size offset */
      width: auto;

      .column {
        padding-left: 20px; /* gutter size */
        &:nth-child(2) {
          margin-top: -100px;
        }
      }
    }

    @media (min-width: 769px) {
      .column {
        padding-left: 20px; /* gutter size */
        &:nth-child(2) {
          margin-top: 100px;
        }
        &:nth-child(3) {
          margin-top: -100px;
        }
      }
    }
  }
}
